@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color: rgb(0, 143, 179);
    --primary-color-darker: rgb(1, 105, 131);
    --red: rgb(231, 78, 78);
    --green: rgb(42, 199, 21);
    --yellow: rgb(235, 194, 15);
}

* {
    box-sizing: border-box;
    outline: 0;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}
form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
    transition: .1s;
}

form button:active {
    background: var(--primary-color);
}

.vermelho {
    background-color: var(--red);
}

.verde {
    background-color: var(--green);
}

.amarelo {
    background-color: var(--yellow);
}

.container > .resultado {
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
}

.colunas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colunas > div {
    margin: 0 10px;
}

.colunas > .esquerda > p, .colunas > .direita > p {
    font-size: .9rem;
}